<div class="container my-24 mx-auto md:px-6">
  <section class="mb-32 text-center">
    <h2>
      <p class=" text-neutral-800 mb-16 text-3xl font-medium">
        Projetos
      </p>
    </h2>

    @for (item of arrayPortfolio(); track item; let idx = $index, e = $even) {
    @if (e) {
    <div class="flex flex-wrap mt-28">
      <div class="mb-12 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:w-5/12">
        <div class="flex lg:py-12">
          <img [src]="item.img" class="w-full rounded-lg shadow-lg dark:shadow-black/20 lg:ml-[50px] z-[10]"
            alt="image" />
        </div>
      </div>

      <div class="w-full shrink-0 grow-0 basis-auto lg:w-7/12">
        <div class="flex h-full items-center rounded-lg bg-purple-200 p-6 text-center text-white lg:pl-12 lg:text-left">
          <div class="lg:pl-12">
            <h2 class="mb-6 text-lg font-bold text-neutral-800 font-title">
              {{ item.title }}
            </h2>
            <p class="mb-6 pb-2 lg:pb-0 text-neutral-500 font-title text-base">
              {{ item.text }}
            </p>
            <a [href]="item.link" target="_blank">
              <button type="button"
                class="rounded-full border-2 border-neutral-50 px-7 pb-2.5 pt-3 text-sm font-medium uppercase leading-normal text-neutral-800 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-100 hover:bg-opacity-10 hover:text-neutral-500 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200"
                data-te-ripple-init data-te-ripple-color="light">
                Veja mais
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
    }
    @else {
    <div class="flex flex-wrap flex-row-reverse mt-28">
      <div class="mb-12 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:w-5/12">
        <div class="flex lg:py-12">
          <img [src]="item.img" class="w-full rounded-lg shadow-lg dark:shadow-black/20 lg:ml-[-50px] z-[10]"
            alt="image" />
        </div>
      </div>

      <div class="w-full shrink-0 grow-0 basis-auto lg:w-7/12 ">
        <div class="flex h-full items-center rounded-lg bg-purple-200 p-6 text-center text-white lg:pl-12 lg:text-left">
          <div class="lg:pl-12 lg:w-11/12 ">
            <h2 class="mb-6 text-lg font-bold text-neutral-800 font-title">
              {{ item.title }}
            </h2>
            <p class="mb-6 pb-2 lg:pb-0 text-neutral-500 font-title text-base">
              {{ item.text }}
            </p>
            <a [href]="item.link" target="_blank">
              <button type="button"
                class="rounded-full border-2 border-neutral-50 px-7 pb-2.5 pt-3 text-sm font-medium uppercase leading-normal text-neutral-800 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-100 hover:bg-opacity-10 hover:text-neutral-500 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200"
                data-te-ripple-init data-te-ripple-color="light">
                Veja mais
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>


    }
    }



  </section>

</div>
