<section id="about" class="h-full">
  <div class="container mx-auto">

    <div class="flex flex-col items-center justify-center p-4 gap-5">
      <div class="bg-purple-800 shadow-lg shadow-purple-800/50">
        <img class="object-cover h-80 w-96 object-top" src="./assets/foto/IMG_7021.jpg">
      </div>
      <div>
        <p class="text-neutral-900 font-title font-medium text-lg leading-6">
          <span class="text-purple-800 font-title text-xl font-semibold">Sobre mim,</span><br>
          Sou um desenvolvedor front-end formado no curso de Análise e Desenvolvimento de Sistemas.
          Atualmente estou aprimorando minhas habilidades em Java Web, Spring Boot, HTML, CSS, TypeScript, JavaScript
          e Angular.
          Estou em transição de carreira e buscando uma nova oportunidade no mercado de desenvolvimento de sistemas.
          Além das habilidades técnicas, também tenho experiência com ferramentas de criação publicitária.
          Estou pronto para enfrentar novos desafios, aprender com novas experiências e continuar minha jornada de
          crescimento profissional.
          Se você procura um desenvolvedor apaixonado, dedicado e pronto para fazer a diferença, estou pronto para me
          juntar ao seu time e enfrentar os desafios que estão por vir.
        </p>
      </div>
    </div>
  </div>
</section>