<section id="#" class="text-center">
  <h2>
    <p class="text-neutral-800 mb-16 text-3xl font-medium">
      Porque inserir o meu negócio na internet? <br>
    </p>
  </h2>

  <!-- Jumbotron -->
  <div class="px-6 py-12 text-center md:px-12 lg:my-12 lg:text-left">
    <div class="w-100 mx-auto sm:max-w-2xl md:max-w-3xl lg:max-w-5xl xl:max-w-7xl">
      <div class="grid items-center gap-12 lg:grid-cols-2">
        <div class="mt-12 lg:mt-0">
          <h1>
            <p
              class="text-4xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 lg:text-3xl">
              Você já considerou o vasto potencial que a internet oferece ao seu negócio?
            </p>
          </h1>
          <p class="text-neutral-500 font-title text-base leading-6">
            Imagine abrir as portas do seu estabelecimento para um número
            infinito de clientes, todos ávidos por descobrir o que você tem a
            oferecer. Ao levar o seu negócio para a internet, você está abrindo as
            comportas da oportunidade, permitindo que sua marca alcance novos
            horizontes e se conecte com pessoas de todos os cantos do mundo. A
            internet não é apenas um meio de comunicação, é uma fonte inesgotável
            de possibilidades comerciais. Ao estabelecer uma presença online, você
            está construindo uma ponte para o futuro, onde cada clique é uma nova
            oportunidade de crescimento e sucesso. Além disso, a internet oferece
            uma plataforma sem igual para a inovação e a criatividade. Com
            ferramentas poderosas ao seu alcance, você pode criar experiências
            envolventes para os seus clientes, oferecer produtos e serviços
            exclusivos e destacar-se da concorrência de maneiras que antes eram
            inimagináveis. Mas talvez o aspecto mais emocionante de levar o seu
            negócio para a internet seja a liberdade que ele oferece. Liberdade
            para trabalhar quando e onde quiser, liberdade para explorar novos
            mercados e nichos, e liberdade para moldar o seu próprio destino.
            Então, por que levar o seu negócio para a internet? Porque a resposta
            está nas estrelas, nas mentes curiosas dos seus futuros clientes, e no
            vasto universo de oportunidades que aguardam aqueles que têm a coragem
            de explorar.
          </p>

          <!-- <p class="mb-16 text-5xl font-bold tracking-tight md:text-6xl xl:text-7xl">
            <span
              class="text-4xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 lg:text-7xl">O
              futuro é estar na internet.</span><br />
            Mostre para milhões de clientes que o seu negócio está na<br />
            <span
              class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 font-title font-semibold">
              WEB.</span>
          </p> -->

        </div>
        <div class="mb-12 lg:mb-0">
          <img src="./assets/negocio/peoplesNet.png" class="w-full rounded-lg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->


</section>