<section id="home" class="h-full bg-purple-900 flex justify-center items-center">
  <div
    class="container flex flex-col gap-10 p-3 content-center justify-center items-center md:gap-5 lg:bg-red-500 lg:flex lg:flex-row lg:w-full lg:h-full">
    <div
      class="w-80 mx-auto text-left flex items-center justify-center mt-24 md:bg-slate-950 md:mt-28 lg:w-1/2 lg:h-full ">
      <div class="bg-neutral-300 lg:w-5/6 lg:h-4/6">
        <p class="text-3xl text-purple-100 font-title lg:text-7xl">
          <span
            class="text-4xl font-semibold bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 lg:text-7xl">O
            futuro é estar na internet.</span><br />
          Mostre para milhões de clientes que o seu negócio está na<br />
          <span
            class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 font-title font-semibold">
            WEB.</span>
        </p>
      </div>
    </div>
    <div class="p-4 md:bg-slate-700 lg:flex lg:justify-start lg:items-center lg:w-1/2 lg:h-full">
      <img src="./assets/banner/banner.png" class="object-contain h-96 lg:h-4/6" alt="" />
    </div>
  </div>
</section>